<!--div id="<%= dom_id recipe %>"> -->

<div class="card" style="width: 18rem;">
  <img src="https://img-global.cpcdn.com/recipes/fadaee2fd7c899a6/1200x630cq70/photo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= recipe.title %></h5>
    <p class="card-text"><%= recipe.instructions %></p>
    
  </div>
</div>


<!--
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>
-->

<!-- </!--div>-->
